<div class="app-content-bottom">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">操作成功</h2>
            <p class="weui-msg__desc">
                感谢您使用北京易净优智环境科技有限公司出品的一方净土•共享好空气产品
                <br />
                请您采用微信或支付宝扫码使用。
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright © 2017 易净优智</p>
            </div>
        </div>
    </div>
</div>
