
<!DOCTYPE html>
<html>
<head>
<title>OTA管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
<link href="../../compontents/iot/css/table.css" rel="stylesheet" />
<link href="../../compontents/bootstarp/css/bootstrap-UI.css.css"
	rel="stylesheet" media="screen">
<link
	href="../../compontents/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet" media="screen">
<link
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<script
	src="https://cdn.staticfile.org/flat-ui/2.3.0/js/vendor/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/flat-ui/2.3.0/js/flat-ui.min.js"></script>
<script src="../../compontents/bootstarp/js/bootstrap-table.js"></script>
<script type="text/javascript"
	src="../../compontents/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"
	charset="UTF-8"></script>
<script
	src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script
	src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script src="../../compontents/iot/js/api.js"></script>
<style type="text/css">
textarea {
	resize: none;
	overflow: hidden;
}
</style>
<style type="text/css">
body {
	font-family: "华文细黑";
	width: 100%;
	height: auto;
	background: #f7f7f7;
	tttttttttttt margin-left: 30px;
	padding-right: 50px;
}
</style>
</head>
<body>
	<ul class="nav nav-tabs">
		<li><a href="ProductInfo.html">产品列表</a></li>
		<li class="active"><a href="#">OTA</a></li>
	</ul>
	<!-- OTA添加 -->
	<div class="modal fade myModal" id="myModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div id="modalDialog" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">创建产品OTA属性</h4>
				</div>
				<div class="modal-body">

					<div class="row">

						<div class="col-md-6">
							<input type="hidden" name="productId" id="productId"
								style="width:142px;height:40px" class="form-control"
								minlength="3" required>
							<div class="input-group">
								<span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状&nbsp;&nbsp;&nbsp;态&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<select id="status" name="status"
									style="width:142px;height:40px" class="form-control" required>
									<option value="1">有效</option>
									<option value="0">无效</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon" style="height:40px">升&nbsp;&nbsp;级&nbsp;&nbsp;方&nbsp;&nbsp;式</span>
								<select id="upgrade" name="upgrade"
									style="width:142px;height:40px" class="form-control" required>
									<option value="1">静默</option>
									<option value="2">人工</option>
									<option value="3">强制</option>
								</select> <input type="hidden" id="size"> <input type="hidden"
									id="md5">
							</div>

						</div>
					</div>
					<br>
					<div class="row">
						<form id="modulenameForm">
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon">模&nbsp;&nbsp;块&nbsp;&nbsp;型&nbsp;&nbsp;号</span>
									<!-- 		<select id="modulename" name="modulename"
										style="width:142px;height:40px" class="form-control" required>
										<option value="EMW3165">EMW3165</option>
									</select> -->
									<input type="text" name="modulename" id="modulename"
										style="width:142px;height:40px" class="form-control"
										placeholder="与文件名一致" minlength="3" required>
								</div>
							</div>
						</form>
						<div class="col-md-6">
							<div class="input-group" style="height: 40px;">
								<span class="input-group-addon" style="height: 20px;">有&nbsp;&nbsp;效&nbsp;&nbsp;时&nbsp;&nbsp;间</span>
								<div class="controls input-append date form_datetime"
									data-date-format="yyyy-mm-dd hh:ii"
									data-link-field="dtp_input1"
									style="height: 10px;max-height: 10px;">
									<input name="effectTime " id="effectTime" type="text"
										style="width:142px;height:40px" value="" readonly> <span
										class="add-on"><i class="icon-remove"></i></span> <span
										class="add-on"><i class="icon-th"></i></span>
								</div>
								<input type="hidden" id="dtp_input1" value="" /><br />
							</div>
						</div>
					</div>
					<br>
					<div class="row">

						<form id="commentFormAdd" class="cmxform" method="post"
							enctype="multipart/form-data">
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-addon">固&nbsp;&nbsp;件&nbsp;&nbsp;文&nbsp;&nbsp;件</span>
									<!-- <input type="file" name="file"> -->
									<input id="fileurl" type="file" name="file"
										style="display:none">
									<div class="input-append">
										<input id="photoCover" class="input-large" type="text"
											style="width:300px; height:40px;" class="form-control">
									</div>
								</div>
								<div class="col-md-4"
									style="margin-left: 400px;margin-top: -35px">

									<a class="btn" data-toggle="modal"
										onclick="$('input[id=fileurl]').click();" role="button"
										style="background-color: rgb(8, 87, 165);margin-left: 20px ">
										<span class="glyphicon glyphicon-file"
										style="color: rgb(247, 255, 255);">选择文件</span>
									</a>
								</div>




							</div>


						</form>
					</div>
					<br>
					<div class="row">
						<form id="firmwareForm">
							<div class="col-md-6">

								<div class="input-group">
									<span class="input-group-addon">固&nbsp;&nbsp;件&nbsp;&nbsp;名&nbsp;&nbsp;称</span><input
										type="text" name="firmware" id="firmware"
										style="width:142px;height:40px" class="form-control"
										placeholder="与文件名一致" minlength="3" required>
								</div>
							</div>
						</form>
						<form id="versionForm">
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon">&nbsp;&nbsp;&nbsp;版&nbsp;&nbsp;&nbsp;本&nbsp;&nbsp;&nbsp;号</span>
									<input type="text" name="version" id="version"
										style="width:142px;height:40px" class="form-control"
										placeholder="版本号为数字如：1" minlength="3" required>
								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<br>
						<div class="col-md-11">
							<div class="input-group">
								<span class="input-group-addon">升&nbsp;&nbsp;级&nbsp;&nbsp;说&nbsp;&nbsp;明</span>
								<textarea name="description" id="description"
									class="form-control" required minlength="10"
									style="width:440px;height:40px"></textarea>
							</div>
						</div>
					</div>

					<div style=" clear:both"></div>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<button type="button" class="btn btn-primary" onclick="addota()">确认</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /OTA添加 -->

	<!-- OTA修改 -->
	<div class="modal fade myModal" id="myModalUpd" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" onclick="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">编辑产品OTA属性</h4>
				</div>
				<div class="modal-body">

					<div class="row">

						<div class="col-md-6">
							<input type="hidden" name="productIdUpd" id="productIdUpd"
								style="width:142px;height:40px" class="form-control"
								minlength="3" required> <input type="hidden"
								name="otaId" id="otaId" style="width:142px;height:40px"
								class="form-control" minlength="3" required> <input
								type="hidden" name="id" id="id" style="width:142px;height:40px"
								class="form-control" minlength="3" required>
							<div class="input-group">
								<span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<select id="statusUpd" name="statusUpd"
									style="width:142px;height:40px" class="form-control statusUpd"
									required>
									<option value="1">有效</option>
									<option value="0">无效</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon" style="height:40px">升&nbsp;&nbsp;级&nbsp;&nbsp;方&nbsp;&nbsp;式</span>
								<select id="upgradeUpd" name="upgradeUpd"
									style="width:142px;height:40px" class="form-control upgradeUpd"
									required>
									<option value="1">静默</option>
									<option value="2">人工</option>
									<option value="3">强制</option>
								</select> <input type="hidden" id="size"> <input type="hidden"
									id="md5">
							</div>
						</div>
					</div>

					<br>
					<div class="row">

						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">模&nbsp;&nbsp;块&nbsp;&nbsp;型&nbsp;&nbsp;号</span>
								<!-- 	<select id="modulenameUpd" name="modulenameUpd"
									style="width:142px;height:40px"
									class="form-control modulenameUpd" required>
									<option value="EMW3165">EMW3165</option>
								</select>
								 -->
								<input type="text" name="modulenameUpd" id="modulenameUpd"
									style="width:142px;height:40px" class="form-control"
									minlength="3" required>
							</div>
						</div>
						</form>
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon" style="height: 40px;">有&nbsp;&nbsp;效&nbsp;&nbsp;时&nbsp;&nbsp;间</span>
								<div class="controls input-append date form_datetime"
									data-date-format="yyyy-mm-dd hh:ii"
									data-link-field="dtp_input1"
									style="height: 10px;max-height: 10px;">
									<input name="effectTimeUpd" id="effectTimeUpd" type="text"
										class="effectTimeUpd" style="width:142px;height:40px" value="">
									<span class="add-on"><i class="icon-remove"></i></span> <span
										class="add-on"><i class="icon-th"></i></span>
								</div>
								<input type="hidden" id="dtp_input1" value="" /><br />
							</div>

						</div>
					</div>

					<br>
					<div class="row">
						<form id="commentFormUpd" class="cmxform" method="post"
							enctype="multipart/form-data">
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-addon">固&nbsp;&nbsp;件&nbsp;&nbsp;文&nbsp;&nbsp;件</span>
									<input id="fileUrlUpd" type="file" name="file"
										style="display:none">
									<div class="input-append">
										<input id="photoCoverUpd" class="input-large fileUrlUpd"
											type="text" style="width:280px;height:40px">
									</div>
								</div>
							</div>
							<div class="col-md-4"
								style="margin-left: 400px;margin-top: -35px">
								<a class="btn" data-toggle="modal"
									onclick="$('input[id=fileUrlUpd]').click();" role="button"
									style="background-color: rgb(8, 87, 165)"> <span
									class="glyphicon glyphicon-file"
									style="color: rgb(247, 255, 255);">选择文件</span></a>
							</div>
						</form>
					</div>


					<br>
					<div class="row">
						<form id="firmwareUpdForm">
							<div class="col-md-6">
								<div class="input-group">
									<input type="text" id="md5" hidden="hidden" class="md5code">
									<span class="input-group-addon">固&nbsp;&nbsp;件&nbsp;&nbsp;名&nbsp;&nbsp;称</span><input
										type="text" name="firmwareUpd" id="firmwareUpd"
										style="width:142px;height:40px"
										class="form-control firmwareUpd" minlength="3" required>
								</div>
							</div>
						</form>
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">&nbsp;&nbsp;&nbsp;版&nbsp;&nbsp;&nbsp;本&nbsp;&nbsp;&nbsp;号</span>
								<input type="text" name="versionUpd" id="versionUpd"
									style="width:142px;height:40px" class="form-control"
									minlength="3" required>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6"></div>
						<div class="col-md-6"></div>
					</div>
					<br>

					<div style=" clear:both"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<button type="button" class="btn btn-primary test">确认</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /OTA修改 -->



	<div>
		<h4 style="margin-left: 15px;margin-bottom: -15px;margin-top: 2px">OTA列表</h4>
		<hr
			style="height:1px;border:none;border-top:3px solid #028cfd;margin-bottom: 15px" />

		<button class="btn btn-primary " data-toggle="modal"
			data-target="#myModal" onclick="toaddota()" style="float: left;">
			<span class="glyphicon glyphicon-plus"
				style="color: rgb(255, 255, 255);">增加OTA</span>
		</button>
		<table id="tableData"></table>
	</div>
</body>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		language : 'cn',
		format : 'yyyy-mm-dd hh:ii',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 1
	});
</script>
<script type="text/javascript">
	function clearFrom() {
		$(':input', '#userform')
			.not(':button, :submit, :reset, :hidden')
			.val('')
			.removeAttr('checked')
			.removeAttr('selected');

	}
</script>

<script>
	var PRODUCEID = $api.getParameter();

	var appId = $api.getCurrApp();
	//初始化 OTA信息
	$('input[id=fileurl]').change(function() {
		$('#photoCover').val($(this).val());
	});
	$('input[id=fileUrlUpd]').change(function() {
		$('#photoCoverUpd').val($(this).val());
	});
</script>
<script type="text/javascript">
	//初始化 产品信息
	function initTable() {
		var data = {
			"productId" : PRODUCEID
		}
		$ota.selectByProduceId(data, success, error);
		function success(ret) {
			var list = ret.listOTAFile;
			for (i in list) {
				if (1 == list[i].status) {
					list[i].status = "启用";
				} else {
					list[i].status = "停用";
				}
				//时间戳转换
				list[i].uploadTime = $api.fromUnixtime(list[i].uploadTime);
				list[i].effectTime = $api.fromUnixtime(list[i].effectTime);
			}
			var obj = list;

			$table = $('#tableData').bootstrapTable({
				data : obj, //最终的JSON数据放在这里
				height : $(window).height() - 100,
				striped : true,
				pagination : true,
				pageNumber : 1,
				pageSize : 6,
				pageList : [ 5, 10, 20, 50, 100 ],
				search : true,
				columns : [
					{
						title : '序号',
						formatter : function(value, row, index) {
							return index + 1;
						}
					},
					{
						field : 'modulename',
						title : '模块型号',
						align : 'center',
						sortable : true
					},
					{
						field : 'firmware',
						title : '固件型号',
						align : 'center',
						sortable : true
					},
					{
						field : 'uploadTime',
						title : '上传时间',
						align : 'center',
						sortable : true
					},
					{
						field : 'effectTime',
						title : '有效时间',
						align : 'center',
						sortable : true
					},
					{
						field : 'operate',
						title : '操作',
						align : 'center',
						formatter : function(value, row, index) {
							var a = '<button type="button" class="btn btn-danger  btn-sm" style="margin-right:15px;"  onclick="delota(\'' + row.id + '\')">删除</button>';
							var b = '<button type="button" class="btn btn-warning  btn-sm" style="margin-right:15px;" data-toggle="modal" data-target="#myModalUpd" onclick="updota	(\'' + row.id + '\')">修改</button>';

							return a + b;
						}
					} ],
				formatNoMatches : function() {
					return "没有相关的匹配结果";
				},
				formatLoadingMessage : function() {
					return "";
				}
			});
		}
		;
		function error() {
			//$api.ui_openAlert('提示', '应用信息加载失败');
		}
		;

	}
	function refreshTableData() {
		var data = {
			"productId" : PRODUCEID
		}
		$ota.selectByProduceId(data, success, error);
		function success(ret) {
			var list = ret.listOTAFile;
			for (i in list) {
				if (1 == list[i].status) {
					list[i].status = "启用";
				} else {
					list[i].status = "停用";
				}
				//时间戳转换
				list[i].uploadTime = $api.fromUnixtime(list[i].uploadTime);
				list[i].effectTime = $api.fromUnixtime(list[i].effectTime);
			}

			var data = list; //要传入table的数据值
			console.log(data);
			$("#tableData").bootstrapTable('load', data);
		}
		function error() {
			//$api.ui_openAlert('提示', '产品信息更新失败');
		}

	}
</script>
<script>
	/* OTA添加 */
	function toaddota() {
		//$("#productId").append('<option value=' + PRODUCEID + '>' + PRODUCEID + '</option>');
		$("#productId").val(PRODUCEID);
	}
	function addota() {
		var mbv = modulenameForm.data('bootstrapValidator');
		mbv.validate();
		var fbv = firmwareForm.data('bootstrapValidator');
		fbv.validate();
		var vbv = versionForm.data('bootstrapValidator');
		vbv.validate();
		if (fbv.isValid() && mbv.isValid() && vbv.isValid()) {
			var size = "";
			var file = document.getElementById('fileurl').files[0];
			var fileSize = 0;
			if (file) {
				if (file.size > 1024 * 1024) {
					fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100);
					size = Math.round(fileSize).toString() + 'MB';
				} else {
					fileSize = (Math.round(file.size * 100 / 1024) / 100);
					size = Math.round(fileSize).toString() + 'KB';
				}
			}
			var productId = $("#productId").val();
			//var effectTime = $api.fromUnixtime($("#effectTime").val());
			var effectTime = $("#effectTime").val();
			var status = $("#status").val();
			var upgrade = $("#upgrade").val();
			var modulename = $("#modulename").val();
			var fileurl = $("#fileurl").val();
			var firmware = $("#firmware").val();
			var description = $("#description").val();
			var form = $("#commentFormAdd")[0];
			var data = new FormData(form);
			var version = $("#version").val();
			var otafileinfo = {};
			otafileinfo.description = description;
			otafileinfo.upgrade = upgrade;
			otafileinfo.firmware = firmware;
			otafileinfo.status = status;
			otafileinfo.effectTime = effectTime;
			otafileinfo.version = version;
			otafileinfo.productId = productId;
			otafileinfo.modulename = modulename;
			otafileinfo.fileurl = fileurl;
			otafileinfo.size = size;
			data.append("OTAFileInfo", JSON.stringify(otafileinfo));
			$.ajax({
				type : "POST",
				enctype : 'multipart/form-data',
				url : 'http://' + $cfg.host + '/YJIOT/otaFile/insert',
				data : data,
				headers : {
					'Access-Control-Allow-Origin' : '*',
					"authorization" : $pow.token
				},
				processData : false,
				contentType : false,
				cache : false,
				timeout : 600000,
				success : function(data) {
					refreshTableData();
					$("#myModal").modal("hide");
				},
				error : function(e) {
					console.log(e);
				}
			});
		}
	}
</script>
<script>
	/**
	 * OTA修改
	 */
	function updota(id) {
		var datas = {};
		datas.id = id;
		$ota.select(datas, success, error);
		function success(ret) {
			//回显OTA信息
			$("#id").val(ret.otaFile.id);
			$("#otaId").val(ret.otaFile.otaId);
			$("#versionUpd").val(ret.otaFile.version);
			$("#productIdUpd").val(ret.otaFile.productId);
			$(".uploadTimeUpd").val($api.fromUnixtime(ret.otaFile.uploadTime));
			$("#effectTimeUpd").val($api.fromUnixtime(ret.otaFile.effectTime));
			$("#modulenameUpd").val(ret.otaFile.modulename);
			$('#statusUpd option').each(function() {
				var self = $(this);
				var selfVal = self.val();
				if (selfVal == ret.otaFile.status)
					self.attr('selected', 'true');
			});
			$('.upgradeUpd option').each(function() {
				var self = $(this);
				var selfVal = self.val();
				if (selfVal == ret.otaFile.upgrade)
					self.attr('selected', 'true');
			});
			/* 		$('.modulenameUpd option').each(function() {
						var self = $(this);
						var selfVal = self.val();
						if (selfVal == ret.otaFile.modulename)
							self.attr('selected', 'true');
					}); */
			var firmware = ret.otaFile.firmware;
			var md5 = ret.otaFile.md5;
			var size = ret.otaFile.size;
			bsize = ret.otaFile.size;
			var fileUrl = ret.otaFile.fileurl;
			fileU = fileUrl;
			if (fileUrl.length > 78) {
				var fileurlUpd = ret.otaFile.fileurl.substring(78);
			} else {
				var fileurlUpd = ret.otaFile.fileurl.substring(69);
			}
			var descriptionUpd = ret.otaFile.description;
			$(".firmwareUpd").val(firmware);
			$(".md5code").val(md5);
			$(".sizeUpd").val(size);
			$("#photoCoverUpd").val(fileurlUpd);
			$(".descriptionUpd").val(descriptionUpd);
		}
		;
		function error() {
		}
		;

	}
	;
	$(document).on("click", ".test", function() {


		var size = "";
		var file = document.getElementById('fileUrlUpd').files[0];
		var fileSize = 0;
		if (file) {
			if (file.size > 1024 * 1024) {
				fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100);
				size = Math.round(fileSize).toString() + 'MB';
			} else {
				fileSize = (Math.round(file.size * 100 / 1024) / 100);
				size = Math.round(fileSize).toString() + 'KB';
			}
		}
		var productId = $("#productIdUpd").val();
		var id = parseInt($("#id").val());
		var otaId = $("#otaId").val();
		var effectTime = $(".effectTimeUpd").val();
		if (!$api.isNull(effectTime)) {
			effectTime = $ota.toUnix($(".effectTimeUpd").val()) + '000';
		} else {
			effectTime = null;
		}
		var effectTime = effectTime;
		var status = $(".statusUpd").val();
		var upgrade = $(".upgradeUpd").val();
		var md5 = $(".md5code").val();
		var modulename = $(".modulenameUpd").val();
		var fileurl = $("#fileUrlUpd").val();
		var firmware = $(".firmwareUpd").val();
		var description = $(".descriptionUpd").val();
		var form = $("#commentFormUpd")[0];
		var data = new FormData(form);
		var otafileinfo = {};
		otafileinfo.id = id;
		otafileinfo.productId = productId;
		otafileinfo.otaId = otaId;
		otafileinfo.description = description;
		otafileinfo.upgrade = upgrade;
		otafileinfo.firmware = firmware;
		otafileinfo.status = status;
		otafileinfo.md5 = md5;
		otafileinfo.effectTime = effectTime;
		otafileinfo.version = $("#versionUpd").val();
		otafileinfo.modulename = modulename;
		if (fileurl != "" && fileurl != null) {
			otafileinfo.fileurl = fileurl;
		} else {
			otafileinfo.fileurl = fileU;
		}
		if (size != "" && size != 0) {
			otafileinfo.size = size;
		} else {
			otafileinfo.size = bsize;
		}
		data.append("OTAFileInfo", JSON.stringify(otafileinfo));
		$.ajax({
			type : "POST",
			enctype : 'multipart/form-data',
			url : 'http://' + $cfg.host + '/YJIOT/otaFile/update',
			data : data,
			headers : {
				"authorization" : $pow.token
			},
			processData : false,
			contentType : false,
			cache : false,
			timeout : 600000,
			success : function(data) {
				refreshTableData();
				$("#myModalUpd").modal("hide");
			},
			error : function(e) {
				$api.ui_openAlert('修改提示', '修改失败查OTA信息');
				console.log("ERROR : ", e);
			}
		});

	});
</script>
<script>
	/* 删除OTA */
	function delota(id) {
		$api.ui_openAlert('OTA删除', '请确认是否要删除', function(tag) {

			if (tag) {
				var data = {};
				data.id = id;
				$ota.deleteota(data, success, error);
				function success() {
					refreshTableData();
				}
				;
				function error() {
					$api.ui_openAlert('删除提示', '删除失败请检查OTA信息');
				}
				;

			}
		});
	}
</script>
<script>
	$(function() {
		$api.Initialize();
		initTable();
	});
</script>
<script type='text/javascript'>
	var modulenameForm = $('#modulenameForm');
	var firmwareForm = $('#firmwareForm');
	var versionForm = $('#versionForm');
	var modulenameUpdForm = $('#modulenameUpdForm');
	var firmwareUpdForm = $('#firmwareUpdForm');
	$(document).ready(function() {
		modulenameForm.bootstrapValidator({
			message : '输入值不合法',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				modulename : {
					message : '模块型号不合法',
					validators : {
						notEmpty : {
							message : '模块型号不能为空'
						},
						stringLength : {
							min : 3,
							max : 30,
							message : '模块型号与文件名保持一致,例：以@分割之前的文件名'
						},
						regexp : { /* 只需加此键值对，包含正则表达式，和提示 */
							regexp : /^[a-zA-Z0-9_\.]+$/,
							message : '模块型号与文件名保持一致只能是数字和字母_.'
						},
					}
				}
			}
		});
		versionForm.bootstrapValidator({
			message : '输入值不合法',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				version : {
					message : '版本号不合法',
					validators : {
						notEmpty : {
							message : '版本号不能为空'
						},
						stringLength : {
							min : 3,
							max : 30,
							message : '版本号与文件名以@分割后版本号一致'
						},
						regexp : {
							regexp : /^[0-9_]+$/,
							message : '版本号只能包含数字'
						}
					}
				}
			}
		});

		firmwareForm.bootstrapValidator({
			message : '输入值不合法',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				firmware : {
					message : '固件名称不合法',
					validators : {
						notEmpty : {
							message : '固件名称不能为空'
						},
						stringLength : {
							min : 3,
							max : 30,
							message : '固件名称与固件文件保持一致，文件名@版本号例：EP600SFV2@001'
						},
						regexp : { /* 只需加此键值对，包含正则表达式，和提示 */
							regexp : /^[a-zA-Z0-9@_\.]+$/,
							message : '固件名称由文件名@版本号组成只能是数字和字母_.'
						},
					}
				}
			}
		});

		modulenameUpdForm.bootstrapValidator({
			message : '输入值不合法',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				modulenameUpd : {
					message : '模块型号不合法',
					validators : {
						notEmpty : {
							message : '模块型号不能为空'
						},
						stringLength : {
							min : 3,
							max : 30,
							message : '模块型号与文件名保持一致为@前的文件名'
						},
						regexp : { /* 只需加此键值对，包含正则表达式，和提示 */
							regexp : /^[a-zA-Z0-9_\.]+$/,
							message : '固件名称只能是数字和字母_.'
						},
					}
				}
			}
		});

		firmwareUpdForm.bootstrapValidator({
			message : '输入值不合法',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				firmwareUpd : {
					message : '固件名称不合法',
					validators : {
						notEmpty : {
							message : '固件名称不能为空'
						},
						stringLength : {
							min : 3,
							max : 30,
							message : '固件名称与文件名保持一致文件名@版本号例：EP600SFV2@001'
						},
					}
				}
			}
		});
	});
</script>


</html>



